body {
    background-color: #fff4fc;
    color: #110038;
}

header{
    background: linear-gradient(to right, #4180f6, #F7C9F3 100%);
}

button {
    background-color: #f1f1f1;
    color: #222;
    border: 1px solid #ccc;
    cursor: pointer;
}