body {
  background-color: #fff4fc;
  color: #110038;
}

header {
  background: linear-gradient(to right, #4180f6, #f7c9f3 100%);
}

main > h1 {
  background: linear-gradient(to right, #6aa3ff, #e4b5e3);
}

button {
  background: #f7c9f3;
  color: #110038;
}
