body {
  background-color: #110038;
  color: #fff;
}

header {
  background: linear-gradient(to right, #2e32fb 0%, #ee3efe 100%);
}

main > h1 {
  background: linear-gradient(to right, #5f64ff, #f279ff);
}

button {
  background: #ee3efe;
  color: #fff;
  border: 1px solid #110038;
}
