body {
    background-color: black;
    color: #ffffff;
    font-family: Arial, sans-serif;
    transition:  background-color 0.3s, color 0.3s;
}

button {
    background-color: #333;
    color: #ffffff;
    border: 1px solid #666;
    cursor: pointer;
}