/* :root guarda variables globales de CSS, -- son las variables
   Las uso para cambiar el tema sin tener que modificar todo el estilo. */
/* Condición 2: Variables globales para los temas */
:root {
  --fondo: #110038;
  --texto: #ffffff;
  --boton: #ee3efe;
  --texto-boton: #ffffff;
  --borde-boton: #110038;
}

body {
  background-color: var(--fondo);
  color: var(--texto);
}
