body {
    background-color: #121212;
    color: #f8f8f8;
    font-family: Arial, sans-serif;
    transition:  background-color 0.3s, color 0.3s;
}

button {
    background-color: #333;
    color: #f8f8f8;
    border: 1px solid #666;
    cursor: pointer;
}