main > h1 {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 8px 12px;
    box-shadow: 0 1px 0 0 #110038;
}

#entrada-busqueda {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000;
}

#contenedor-resultados {
    margin-top: 10px;
    padding: 10px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

#contenedor-resultados, #contenedor-mis-gifs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}